.baseball-card {
  width: 348px;
  height: 500px;
  margin: 2em auto;
  perspective: 900px;
}

article {
  width: 100%;
  height: 100%;
  border: solid 1px #CCC;
  transition: 1s;
  transform-style: preserve-3d;
  position: relative;
  border-radius: 3px;
  font-family: helvetica, arial, sans-serif;
}

article.flipped {
  transform: rotateY(180deg);
}

.front,
.back {
  width: 100%;
  height: 100%;
  cursor: pointer;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 2px 6px 15px rgba(0, 0, 0, 0.3);
}

.front {
  background-color: #f8f8ee;
  z-index: 2;
  /* for firefox 31 */
  transform: rotateY(0deg);
}

.back {
  box-sizing: border-box;
  background-color: #FF9088;
  transform: rotateY(180deg);
  padding: 0px;
}

.player-name {
  font-style: normal;
  color: #CF0000;
  font-weight: bold;
  font-size: 1.4em;
  margin-top: .8em;
  margin-left: 6em;
}

.player-photo {
  height: 86%;
  width: 86%;
  top: 10%;
  left: 7%;
  position: absolute;
  background-repeat: no-repeat;
  //  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/3/36/Secretary_Gina_Raimondo.jpg/440px-Secretary_Gina_Raimondo.jpg);
  border: solid 1px #7d7c3c;
  border-radius: 10px;
  box-shadow: 0px 0px 0px 4px #ffff69, 0px 0px 0px 5px #7d7c3c;
}
.player-photo2 {
  height: 86%;
  width: 86%;
  top: 10%;
  left: 7%;
  position: absolute;
  background-repeat: no-repeat;
  //  background-attachment: fixed;
  background-size: 100%;
  background-position: center center;
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/7/73/US-OfficeOfManagementAndBudget-Seal.svg/1920px-US-OfficeOfManagementAndBudget-Seal.svg.png);
  border: solid 1px #7d7c3c;
  border-radius: 10px;
  box-shadow: 0px 0px 0px 4px #ffff69, 0px 0px 0px 5px #7d7c3c;
}

.position {
  margin: 0;
  padding: 0;
  position: absolute;
  color: white;
}

.position-banner {
  position: absolute;
  display: block;
  top: 20px;
  left: 16px;
}

.team-banner {
  position: absolute;
  display: block;
  bottom: 20px;
  right: 15px;
}

.position {
  margin: 0;
  padding: 0;
  position: absolute;
  color: white;
  position: absolute;
  display: block;
  font-size: .65em;
  font-weight: bold;
  text-shadow: -1px -1px 0 #666, 1px -1px 0 #666, -1px 1px 0 #666, 1px 1px 0 #666;
  transform: rotate(-15deg);
  text-transform: uppercase;
  top: 39px;
  left: 23px;
  z-index: 1;
}

.team {
  margin: 0;
  padding: 0;
  position: absolute;
  color: white;
  position: absolute;
  display: block;
  font-size: .4em;
  font-weight: bold;
  text-shadow: -1px -1px 0 #666, 1px -1px 0 #666, -1px 1px 0 #666, 1px 1px 0 #666;
  transform: rotate(-12deg);
  text-transform: uppercase;
  bottom: 45px;
  right: 25px;
  z-index: 1;
}

.flex-grid {
  max-width: 100%;
}

.flex-row {
  margin: 0;
  padding: 0;
  width: 100%;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.flex-cell {
  order: 0;
  flex: 1 1 auto;
  align-self: stretch;
}

.flex-cell.width-01 {
  flex: 0 0 8.3333333%;
}

.flex-cell.width-02 {
  flex: 0 0 16.6666667%;
}

.flex-cell.width-03 {
  flex: 0 0 25%;
  line-height: 1.6em;
}

.flex-cell.width-04 {
  flex: 0 0 33.33333333%;
}

.flex-cell.width-05 {
  flex: 0 0 41.6666667%;
}

.flex-cell.width-06 {
  flex: 0 0 50%;
}

.flex-cell.width-07 {
  flex: 0 0 58.3333333%;
}

.flex-cell.width-08 {
  flex: 0 0 66.6666667%;
}

.flex-cell.width-09 {
  flex: 0 0 75%;
}

.flex-cell.width-10 {
  flex: 0 0 83.3333333%;
}

.flex-cell.width-11 {
  flex: 0 0 91.6666667%;
}

.flex-cell.width-12 {
  flex: 0 0 100%;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.back header {
  display: block;
  border: solid 3px rgba(0, 0, 0, .75);
  border-radius: 28px;
  position: relative;
  padding: 4px 0 6px 0;
  margin: 2px 10px 0px 10px;
  background-color: #e8e1c7;
}

.card-number {
  position: absolute;
  top: -3px;
  left: -2px;
  border: solid 3px rgba(0, 0, 0, .75);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  line-height: .8em;
}

.card-number:before {
  content: "TOPPS";
  display: block;
  font-weigth: bold;
  margin: .5em auto .1em auto;
  font-size: .75em;
}

.header-grid {
margin: 0 8px 0 54px;
}

.header-player-name {
  text-transform: uppercase;
  font-size: 1.6em;
  margin: 0;
  padding: 0;
  line-height: .9em;
  text-shadow: 0px 1px 2px rgba(255, 255, 255, .6);
}

.header-player-position,
.header-player-team {
  font-weight: bold;
  text-transform: uppercase;
}

.small-text {
  font-size: 0.62em;
}

.bio {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 0.63em;
  text-align: justify;
  line-height: 1.05em;
  padding-bottom: .2em;
  s padding-top: .2em;
  font-size: .8em;
  margin: 0.1em 10px;
  border-bottom: solid 1px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 1px 2px rgba(255, 255, 255, 0.3);
}

.table-title {
  margin: 0 10px;
  text-transform: uppercase;
  font-size: .9em;
  border-bottom: solid 1px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 1px 2px rgba(255, 255, 255, 0.3);
}

.player-stats {
  width: 320px;
  font-size: .66em;
  margin: 0 10px;
  border-collapse: collapse;
  max-height: 235px;
  height: 218px;
}

.player-stats tr {}

.player-stats th,
.player-stats td {
  text-align: right;
  padding: 0.04em .01em;
  margin: 0;
  line-height: 10px;
}

.player-stats thead tr th {
  border-bottom: solid 1px rgba(0, 0, 0, 0.6);
  padding-bottom: .4em;
  padding-top: .4em;
  box-shadow: 0px 1px 2px rgba(255, 255, 255, 0.3);
}

.player-stats tbody tr:last-child td {
  border-bottom: solid 1px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 1px 2px rgba(255, 255, 255, 0.3);
}

.player-stats tr th:first-child,
.player-stats tr td:first-child {
  font-weight: bold;
  text-align: left;
}

.player-stats tr:first-child td {
  padding-top: .2em;
}

.player-stats tr td:nth-child(2) {
  text-align: left;
}

.player-stats thead tr th {
  font-weight: bold;
}

.player-stats thead tr th:nth-child(2) {
  text-align: center;
}

.player-stats tfoot tr{height: 17px;}
.trivia {
  position: absolute;
  bottom: 15px;
  right: 0px;
  margin: 0px 10px;
  min-height: 100px;
  background-color: #e8e1c7;
  font-family: 'Just Another Hand', cursive;
  text-transform: uppercase;
  border: solid 3px rgba(0, 0, 0, .75);
  border-radius: 28px;
  padding: .2em 1.2em;
  box-sizing: border-box;
  width: 330px;
}

.question {
  display: block;
  font-weight: bold;
  font-style: italic;
  text-align: center;
  position: absolute;
  right: 9px;
  top: 9px;
  width: 194px;
  margin: 0;
  font-weight: bold;
  font-style: italic;
  text-align: center;
}

.question:before {
  content: "Q.- "
}

.answer {
  margin: 0px;
  transform: rotate(-180deg);
  font-weight: bold;
  font-style: italic;
  display: inline-block;
  padding: 0;
  font-weight: bold;
  font-style: italic;
  text-align: center;
  position: absolute;
  bottom: 9px;
  right: 9px;
  width: 90px;
}

.answer:before {
  content: "A.- "
}

#triviadude {
  position: absolute;
  bottom: 5px;
  left: 10px;
  z-index: 3;
}

.printed {
  font-size: .7em;
  text-align: right;
  margin: .1em 0 0 0;
  position: absolute;
  bottom: 1px;
  right: 11px;
}